@import './../../constants/style.scss';

.af-loadingContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  .af-textLoading {
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  .af-circles {
    display: flex;
    align-items: center;
  }
}