@import './../../constants/style.scss';

.af-sidebarContainer {
  background-image: linear-gradient($lightBlueBg, $darkBlueBg);
  height: 100%;
  padding: .5rem .5rem 0;
  position: fixed;
  .af-icon {
    color: $white;
    margin-right: .5rem;
    &.af-expand {
      margin-right: 0;
    }
  }
  .af-text {
    color: $white;
  }
  .af-divider {
    background-color: $white;
    margin: .5rem 0;
  }
  .af-title {
    display: flex;
    align-items: center;
    padding: 0 .25rem;
    &.contained {
      justify-content: center;
      .af-icon {
        margin-right: 0;
      }
    }
  }
  .af-selected {
    background: rgba(255, 255, 255, .5);
    border-radius: 3px;
  }
}