@import './../../constants/style.scss';

.af-loginCardPaper {
  padding: 2rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2.5rem !important;
  .af-title {
    font-weight: 700;
    margin-top: 0;
  }
  .af-inputsPaper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0 1rem;
    .af-inputPaper {
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .5rem .8rem .5rem 1.5rem;
      .af-inputBase {
        width: 100%;
      }
      .af-icon {
        color: $lightGrey;
        margin-left: .5rem;
      }
    }
  }
  .af-button {
    width: 100%;
    text-transform: none;
    background-color: $blue;
    color: $white;
    font-weight: 600;
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
  .af-errorText {
    color: $red;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}