@import './../../constants/style.scss';

.af-expansionPanelContainer {
  .af-expansionPanel {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 1rem 0;
    &:before {
      display: none;
    }
    .af-panelSummary {
      padding: 0 .5rem;
      height: 2.5rem;
      min-height: 2.5rem;
      max-height: 2.6rem;
      .af-text {
        margin-left: .5rem;
      }
      & > div:first-child {
        display: flex;
        align-items: center;
      }
      &.af-nDisplay {
        .af-icon {
          margin-right: 0;
        }
        .MuiExpansionPanelSummary-expandIcon {
          display: none;
        }
      }
    }
    &:first-child {
      margin-top: 1rem !important;
    }
  }
  .MuiExpansionPanelDetails-root {
    margin: .5rem 0 0;
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &.contained {
      padding: 0;
      .af-element {
        justify-content: center;
        .af-icon {
          margin-right: 0;
        }
      }
    }
    .af-text {
      margin-left: .5rem;
    }
    a {
      padding: .5rem;
    }
    .af-element {
      display: flex;
      padding: .5rem;
      margin-bottom: .5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}